<div class="container-fluid">
<div ng-if="!books || books.length==0">
	<h3>No Books!!!!</h3>
</div>
<div ng-if="books && books.length>0">
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Author</th>
				<th>Price</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="book in books">
				<td>{{book.id}}</td>
				<td>{{book.title}}</td>
				<td>{{book.author}}</td>
				<td>{{book.price}} [{{book.currency}}]</td>
				<td>
					<span>
						<button type="button" ng-click="open(book)" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
						<button type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>	
</div>